@import url(https://fonts.googleapis.com/css?family=Arimo);

body {
    margin: 2em;
    background: #e4e4e4;
    font-family: "Arimo",
    sans-serif;
    text-align: center;
}

a {
    color: blue;
    font-size: 13px;
    text-decoration: none;
}

hr {
    opacity: .3;
    margin: 2em 0;
}

.fileUpload {
    background-image: url("../../images/git.png");
    background-repeat: no-repeat;
    background-size: 2000px 700px;
    padding: 25px;
    margin: 0 auto;
    opacity: 0.5;
}

div#upload {
    display: inline-block;
}

input[type="file"] {
    background: #7886d8;
    padding: 15px 11px 18px 20px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    width: 159px;
    border: 2px solid #3F51B5;
    outline: 0;
}

ul#preview {
    list-style: none;
    margin: 25px auto;
    padding: 0;
    display: block;
    max-width: 600px;
}

ul#preview li {
    display: inline-block;
    margin: 0 10px 10px;
    max-width: 100px;
}

ul#preview li img {
    width: 100%;
}